[run]
omit = 
	unittest/*
	attribute.py
	hatch_build.py
source = 
	xkits_config_file
	xkits_config_json

[report]
exclude_lines = 
	pragma: no cover
	raise NotImplementedError
	if __name__ == .__main__.:
	def __repr__
	pass
fail_under = 100

